<% include ./partials/header %>

<div class="main-container">
<div class="ui main text container " id="float-main">
    <div class="ui huge header"><h1></h1></div>
    <div class="ui top attached" id="bordermain">
        <div class="ui divided items">
            <% blogs.forEach(function(blog){ %>
              <div class="ui container segment" id="blogmain">
              <h2><%= blog.title %></h2>
              <img id="main-image" src="<%= blog.image %>">
               <p><%= blog.body.substring(0, 10) %>...</p>
               <p></p><%= blog.created.toDateString() %></p>
                 <a class="ui basic violet button" href="/blogs/<%= blog._id %>">Read More</a>
              </div>
            <% }); %>
            
        </div>
        
    </div>
    
</div>


</div>
<% include ./partials/footer %>